html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	font-size: 16px;
	background-color: white;
	background-size: cover;
}


.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.container {
	padding: 0 40px;
	margin: 0 auto;
}
h2 {
	font-size: 30px;
	color: rgb(153,159,193);
	font-weight: 600;
	padding: 20px 0;
}
h3 {
	font-size: 100px;
	color: white;
	font-weight: bold;
}
h4 {
	font-size: 30px;
	color: rgb(153,159,193);
	letter-spacing: 2px;
}
.main {
    background: linear-gradient(rgba(32,34,47,1), rgba(29,32,41,1));
	width: 100%;
}
h1 {
	font-size: 55px;
	font-weight: 700;
	color: white;
	padding-top: 40px;
}
.mode-btn {
	width: 100px;
	height: 50px;
	border: 2px solid;
	background-image: linear-gradient(to right, rgb(79,139,186),rgb(85,203,148) );
	border-radius: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.circle {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: rgba(32,34,47,1);
	margin-left: 5px;
}
.rt-top h2 {
	padding-right: 40px;
}
.top-line {
	height: 6px;
	background-color: blue;
}
.insta-line {
	height: 6px;
	background-image: linear-gradient(to left bottom, rgb(241, 57, 88), rgb(218, 196, 74));
}
.ytube-line {
	height: 6px;
	background-image: linear-gradient(to left bottom, rgb(241, 57, 88), rgb(220, 73, 73));
}
.dash-box {	
	margin: 60px 0;
}
.info-box {
	width: 22%;
	background-color: rgb(37,43,67);
	height: 350px;
}
.dash-box  {
	text-align: center;
}
.font {
	font-size: 35px;
	color: rgb(153,159,193);
}
.box-icon {
	margin-top: 60px;
}
.icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 10px;

}
.fb {
	background-color: rgb(25,143,242);
	color: rgb(32,34,47);
	font-size: 40px;
}
.box-up-icon {
	font-size: 25px;
	color: rgb(63,151,135);
	font-weight: bold;
	margin-top: 30px;
}
.twit {
	color: rgb(25,143,242);
	font-size: 38px;
}
.insta {
	font-size: 42px;
	color: rgb(26, 25, 25);
	background-image: linear-gradient(to left bottom, rgb(241, 57, 88), rgb(218, 196, 74));
}
.ytube {
	font-size: 20px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: rgb(193,48,44);
	border: 1px solid black;
}
.ytube i {
	margin-top: 8px;
}
.ytube-i i {
	margin-left: 10px;
}
.box-down-icon {
	font-size: 25px;
	color: rgb(174, 76, 73);
	font-weight: bold;
	text-align: center;
	margin: 30px 20px 0 0;
}
h5 {
	font-size: 40px;
	color: white;
	font-weight: 700;
	padding-bottom: 40px;
}
.overview-box {
	height: 900px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.overview {
	width: 18%;
	height: 300px;
	background-color: rgb(37,43,67)
}
.view {
	font-weight: 800;
	margin: 80px 40px 0 40px;
	
}
